body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #9e2a2b;
  border-radius: 25px;
  font-size: 3rem;
  font-family: fantasy;
}
